.fast-form {
  h2 {
    display: flex;
    flex-direction: column;
    // margin-bottom: 20px;
    font-size: 40px;
    text-transform: uppercase;

    &::after {
      content: "";
      border: 1px solid #efede8a6;
      opacity: 0.2;
      margin: 30px 0;
    }
  }

  p {
    font-size: 20px;
    color: #efede8a6;
    margin-bottom: 50px;
  }

  form {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;
  }
}

.input-select {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  input {
    width: 100%;
    padding: 20px;
    border: 1px solid #ef8964;
    border-radius: 10px;
    font-size: 20px;
    color: #ef8964;
    &:focus {
      outline: none !important;
      border: 1px solid #e6533c;
    }

    &:active {
      outline: none !important;
      border: 1px solid #e6533c;
    }
  }

  select {
    appearance: none;
    background-color: transparent;
    border: none;
    color: #ef8964;
    padding: 20px;
    width: 100%;
    cursor: pointer;
    font-size: 20px;
    outline: none;

    &::-ms-expand {
      display: none;
    }
  }
}

.form-message {
  margin-bottom: 20px;
  width: 100%;
  padding: 20px;
  font-size: 20px;
  resize: vertical;
  border: 1px solid #ef8964;
  border-radius: 10px;
  color: #ef8964;
  &:focus {
    outline: none !important;
    border: 1px solid #e6533c;
  }

  &:active {
    outline: none !important;
    border: 1px solid #e6533c;
  }
}

.form-btn {
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  color: #efede8a6;
  width: 25%;
  border: 1px solid #ef8964;
  border-radius: 5px;
  background-color: transparent;
  transition: 2s;

  &:hover {
    color: #fff;
    background-color: #e6533c;
  }
}

@media (min-width: 540px) {
  .container {
    max-width: 100%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
