.about-service h2 {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.about-service p {
  font-size: 20px;
  color: #efede8a6;
  margin-bottom: 50px;
}

.service-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.service-card {
  width: 350px;
  height: 300px;
  border-radius: 10px;
  background-color: #323443;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.service-card h3 {
  padding: 30px;
  background-color: transparent;
}

.service-card p {
  padding: 30px;
  background-color: transparent;
}

@media (min-width: 540px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
