.about-service h2 {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.about-service p {
  font-size: 20px;
  color: #bbb;
  margin-bottom: 50px;
}

.service-list {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(3, 1fr);
}

.service-card {
  height: 300px;
  border-radius: 10px;
  border-color: #3596fe;
  filter: drop-shadow(0px 4px 24px rgba(53, 150, 254, 0.48));
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 540px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
