@import url("https://fonts.cdnfonts.com/css/gilroy-bold");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #212123;
}

body {
  font-family: "Gilroy-Regular", sans-serif;
  cursor: default;
  color: #fff;
  font-size: 16px;
}

.container {
  width: 100%;
  max-width: 1480px;
  margin: 100px auto;
}

.link {
  color: #fafaf9;
  text-decoration: none;
  transition: 1s;
  background-color: transparent;
}

.link:hover {
  color: #3596fe;
  filter: drop-shadow(0px 4px 24px rgba(53, 150, 254, 0.48));
}

.register-link {
  color: #ef8964;
  text-decoration: none;
  transition: 1s;
  background-color: transparent;
}

.btn {
  border: none;
  font-size: 18px;
  color: #ef8964;
  cursor: pointer;
  text-transform: uppercase;
}

@media (min-width: 540px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
