.benifits {
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
}

.benifits h2 {
  margin-bottom: 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.benifit-card {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.card-text p {
  width: 75%;
  font-size: 20px;
  color: #efede8a6;
}

.card-text h3 {
  font-size: 30px;
  margin-bottom: 38px;
  text-transform: uppercase;
}

.card-image-left {
  margin-right: 180px;
}

.card-text-right h3 {
  font-size: 30px;
  margin-bottom: 38px;
  text-transform: uppercase;
}

.card-text-right p {
  font-size: 20px;
  color: #efede8a6;
}

@media (min-width: 540px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
