.platform-header {
  margin-bottom: 100px;
  font-size: 40px;
  text-transform: uppercase;
}

.crm-platform {
  display: flex;
  align-items: center;
}

.platform-text h3 {
  font-size: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.platform-text p {
  width: 75%;
  font-size: 20px;
  color: #bbb;
}

.platform-img img {
  width: 700px;
  border-radius: 5px;
  border: 1px solid #3596fe;
  filter: drop-shadow(0px 4px 24px rgba(53, 150, 254, 0.48));
}

@media (min-width: 540px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
