footer {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.footer-item {
  color: #efede8a6;
  transition: 1s;
  cursor: pointer;
}

.footer-item::after {
  margin-left: 20px;
  content: "";
  border: 1px solid #efede8a6;
}

.footer-item:hover {
  color: #fff;
}

@media (min-width: 540px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
